:root {
  --bg-color: #0A0A0F; /* Dark background color */
  --gradient-bg: linear-gradient(-45deg, var(--blue-gradient-1), var(--blue-gradient-2));
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--gradient-bg); /* Use the gradient background */
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border */
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  width: auto;
  margin-left:105px;
  
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-link-container {
  display: flex;
  gap: 1rem;
  background-color: rgba(167, 167, 167, 0.05); /* Fond semi-transparent */
  padding: 0.5rem 1rem;
  border-radius: 25px;
  backdrop-filter: blur(10px); /* Effet de flou */
}

.nav-link {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Effet de survol subtil */
}